@model UpdateProductDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    @using (Html.BeginForm("UpdateProductById", "Products", FormMethod.Get))
    {
        <input type="hidden" name="productId" value="@Model.ProductId">
        <table>
            <tr>
                <th>ProductId</th>
                <th>ProductName</th>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" name="productId" value="@Model.ProductId" disabled />
                </td>
                <td>
                    <input type="text" class="form-control" name="productName" value="@Model.ProductName" />
                </td>
            <tr>
                <td>Güncelle</td>
                <td><button class="btn btn-success">Güncelle</button></td>
            </tr>
        </table>
    }
</div>
