@model TokenViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <h3>Token ile Authenticate Olmak</h3>
    <form method="post">
        <label>Token giriniz</label>
        <input type="text" name="Token" value="@Model.Token" class="form-control" placeholder="Erişim için lütfen gizli anahtarı giriniz..." />
        <button class="btn btn-success">Giriş Yap</button>
    </form>
</div>